$darkColor: #28293e;
$orangeColor: #ef6d58;
$lightColor: #fdf0e9;

.header {
  background-color: $darkColor;
  color: white;
  padding: 20px 0;
  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    @media (max-width: 500px) {
      padding: 10px;
    }
  }
  &_logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &_img {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  &_list {
    display: flex;
    gap: 150px;
    list-style-type: none;
    @media (max-width: 500px) {
      display: none;
    }
  }
  &_list-item {
    color: white;
    cursor: pointer;
    transition: 0.6s;
    &:hover {
      transform: translateY(-2px);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &_btn {
    @media (max-width: 500px) {
      display: none;
    }
  }
  &_menu {
    display: none;
    @media (max-width: 500px) {
      display: block;
    }
  }
}
