$darkColor: #28293e;
$darkStrongText: #391400;
$lightsectionText: #7f6454;
$darksectionText: #b1b2b9;
$lightsectionBorder: #f3d1bf;
$darksectionBorder: #3a3c56;
$brightColor: #ef6d58;
$lightColor: #fdf0e9;
