@import "_common";

.welcome {
  &_box {
    @extend .twoblocks;
  }
}

.service {
  &_box {
    flex-direction: column;
    gap: 50px;
    @include flex(center, center);
  }
  &_cards {
    @media (max-width: 1024px) {
      @include cards-vertical;
    }
    @media (min-width: 1025px) {
      @include cards-horisontal;
      li {
        width: 50%;
      }
    }
    li {
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
      gap: 20px;
      @include card;
      .line {
        gap: 20px;
        flex-wrap: wrap;
        @include flex(center, start);
        .morecircle {
          background-color: white;
          padding: 20px;
          @include round;
          &:hover {
            cursor: pointer;
            filter: invert(10%);
          }
        }
      }
    }
  }
  .more {
    text-align: center;
    a {
      display: inline-block;
      @extend .jumplink;
    }
  }
}

.buttonedheader {
  @media (min-width: 1025px) {
    align-items: end;
  }
  @extend .twoblocks;
  .textcontent {
    transform: translateY(
      10px
    ); // both the h2 and p in .textcontent will be more or less aligned with the bottom of the button
  }
}

.portfolio {
  &_ul {
    padding-bottom: 60px;
    @include flex(center, space-between);
    @media (max-width: 640px) {
      flex-direction: column;
    }
    li {
      width: calc(100% / 3);
      border-width: 1px;
      border-style: solid;
      margin-left: -1px;
      padding: 16px;
      &:hover {
        cursor: pointer;
        filter: invert(100%);
      }
      &.design {
        background: url("../images/portfolio-1.png") content-box center / cover;
      }
      &.branding {
        background: url("../images/portfolio-2.png") content-box center / cover;
      }
      &.illustration {
        background: url("../images/portfolio-3.png") content-box center / cover;
      }
      .content {
        padding: 10%;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        height: 576px;
        gap: 24px;
        box-sizing: border-box;
        h3 {
          white-space: nowrap;
          @media (min-width: 641px) and (max-width: 1024px) {
            font-size: 24px;
          }
        }
        .worktype {
          background: white;
          color: $darkColor;
          border-radius: 2em;
          padding: 0.8em 1.2em;
        }
      }
      @media (max-width: 640px) {
        width: 100%;
        box-sizing: border-box;
        margin-left: inherit;
        margin-top: -1px;
      }
    }
  }
}

.experience {
  background-color: $lightColor;
  &_box {
    @extend .twoblocks;
  }
}

.features {
  &_box {
    @extend .twoblocks;
  }
}

.reviews {
  &_box {
    flex-direction: column;
    gap: 60px;
    @include flex(center, center);
    h2 {
      text-align: center;
    }
  }
  &_cards {
    @media (max-width: 1024px) {
      @include cards-vertical;
    }
    @media (min-width: 1025px) {
      @include cards-horisontal;
    }
    li {
      flex-direction: column;
      gap: 30px;
      padding: 5%;
      @include card;
      @include flex(start, start);

      &:hover {
        background-color: white;
        cursor: pointer;
      }
      .stars {
        color: #f6d021;
        font-size: 32px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 50%);
      }
      .client {
        flex-wrap: wrap;
        gap: 30px;
        @include flex(center, start);

        &_info {
          flex-direction: column;
          @include flex(start, center);
        }
        &_name {
          @extend h4;
        }
        &_photo {
          overflow: hidden;
          padding: 40px;
          @include round;

          img {
            width: 80px;
          }
        }
      }
      @media (min-width: 1024px) {
        width: calc(100% / 3);
      }
    }
  }
}

.blog {
  &_main {
    justify-content: space-between;
    gap: 2em;
    margin: 60px auto;
    @extend .wrapper;
    @include flex(stretch, space-between);
    @media (max-width: 640px) {
      // on mobiles: MAIN ITEM IS FULL-SCREEN
      flex-direction: column;
      gap: 65px;
      h3 {
        @include h4style;
      }
    }
    .mainitem {
      @media (min-width: 641px) {
        // on tablets: ONE BIG MAIN ITEM and small minor ones
        width: 65%;
      }
      @media (min-width: 1441px) {
        // on desctops: MAIN ITEM IS ONE THIRD (equal to the minor ones)
        width: 32%;
      }
    }
    .minoritems {
      gap: 65px;
      @include flex(stretch, space-between);
      @media (min-width: 641px) and (max-width: 1440px) {
        // on tablets: one big main item AND SMALL MINOR ONES
        width: 25%;
        h3 {
          @include h4style;
        }
      }
      @media (min-width: 1441px) {
        // on desctops: MINOR ITEMS BLOCK IS TWO THIRDS (all items are equal)
        width: 66%;
        gap: calc(100% / 33);
        .blog_item {
          width: calc(1600% / 33);
        }
      }
      @media (max-width: 1440px) {
        // on mobiles: EACH MINOR ITEM IS FULL-SCREEN
        flex-direction: column;
      }
    }
    h3 a {
      @extend .jumplink;
    }
  }
  &_item {
    flex-direction: column;
    gap: 20px;
    @include flex(start, start);
    .illustration {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

.newsletter {
  form {
    gap: 20px;
    display: flex; // we need an unset align-items and justify-content
    @media (min-width: 1025px) {
      width: 40%;
      input {
        flex-grow: 1;
      }
    }
    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
    input {
      background-color: white;
    }
  }
  .wrapper {
    @extend .bordered;
  }
}

.contact {
  &_box {
    @extend .twoblocks;
  }
}

.contacts {
  flex-direction: column;
  @include flex(start, center);
  gap: 20px;
  li {
    gap: 16px;
    @extend b;
    @include flex(center, start);
    .contacttype {
      background-color: $brightColor;
      padding: 24px;
      @include round;
    }
  }
}

.works {
  @include flex(center, space-between);
  img {
    display: block;
    width: calc(100% / 6);
    height: calc(100% / 6);
    &:hover {
      cursor: pointer;
      filter: invert(100%);
    }
  }
  @media (max-width: 1024px) and (min-width: 501px) {
    flex-wrap: wrap;
    img {
      width: calc(100% / 3);
      height: calc(100% / 3);
    }
  }
  @media (max-width: 640px) {
    flex-wrap: wrap;
    img {
      width: 50%;
      height: 50%;
    }
  }
}
