* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

.bigimage {
  width: 50%;
}

p {
  line-height: 32px;
}

a {
  color: inherit;
  font-size: inherit;
}

b, .contacts li {
  font-weight: normal;
}

li {
  list-style-type: none;
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

.lightsection .banner, .formcontainer .banner, .faq_cards li.active .banner {
  color: #b1b2b9;
}
.lightsection .banner h2, .formcontainer .banner h2, .faq_cards li.active .banner h2 {
  color: white;
}

.darksection {
  background-color: #28293e;
  color: #b1b2b9;
}
.darksection h1,
.darksection h2,
.darksection h3,
.darksection .experience_cards li .number,
.experience_cards li .darksection .number,
.darksection h4,
.darksection .reviews_cards li .client_name,
.reviews_cards li .darksection .client_name,
.darksection h5,
.darksection .experience_cards li .signature,
.experience_cards li .darksection .signature,
.darksection b,
.darksection .contacts li,
.contacts .darksection li {
  color: white;
}
.darksection * {
  border-color: #3a3c56;
}
.darksection .logos li img {
  filter: invert(23%) sepia(14%) saturate(1104%) hue-rotate(198deg) brightness(93%) contrast(92%);
}
.darksection .logos li img:hover {
  filter: invert(80%) sepia(6%) saturate(226%) hue-rotate(195deg) brightness(89%) contrast(89%);
}

.lightsection, .formcontainer, .faq_cards li.active {
  background-color: #fdf0e9;
  color: #7f6454;
}
.lightsection h1, .formcontainer h1, .faq_cards li.active h1,
.lightsection h2,
.formcontainer h2,
.faq_cards li.active h2,
.lightsection h3,
.lightsection .experience_cards li .number,
.experience_cards li .lightsection .number,
.formcontainer h3,
.formcontainer .experience_cards li .number,
.experience_cards li .formcontainer .number,
.faq_cards li.active h3,
.faq_cards .experience_cards li.active .number,
.experience_cards .faq_cards li.active .number,
.lightsection h4,
.lightsection .reviews_cards li .client_name,
.reviews_cards li .lightsection .client_name,
.formcontainer h4,
.formcontainer .reviews_cards li .client_name,
.reviews_cards li .formcontainer .client_name,
.faq_cards li.active h4,
.faq_cards .reviews_cards li.active .client_name,
.reviews_cards .faq_cards li.active .client_name,
.lightsection h5,
.lightsection .experience_cards li .signature,
.experience_cards li .lightsection .signature,
.formcontainer h5,
.formcontainer .experience_cards li .signature,
.experience_cards li .formcontainer .signature,
.faq_cards li.active h5,
.faq_cards .experience_cards li.active .signature,
.experience_cards .faq_cards li.active .signature,
.lightsection b,
.lightsection .contacts li,
.contacts .lightsection li,
.formcontainer b,
.formcontainer .contacts li,
.contacts .formcontainer li,
.faq_cards li.active b,
.faq_cards li.active .contacts li,
.contacts .faq_cards li.active li {
  color: #391400;
}
.lightsection *, .formcontainer *, .faq_cards li.active * {
  border-color: #f3d1bf;
}
.lightsection .logos li img, .formcontainer .logos li img, .faq_cards li.active .logos li img {
  filter: invert(100%) sepia(47%) saturate(1748%) hue-rotate(297deg) brightness(100%) contrast(90%);
}
.lightsection .logos li img:hover, .formcontainer .logos li img:hover, .faq_cards li.active .logos li img:hover {
  filter: invert(37%) sepia(5%) saturate(2468%) hue-rotate(338deg) brightness(105%) contrast(85%);
}

section {
  padding: 100px 10%;
}

.wrapper, .blog_main {
  max-width: 1440px;
  margin: 0 auto;
}

.twoblocks, .contact_box, .features_box, .experience_box, .buttonedheader, .welcome_box, .faq_box, .help_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}
@media (max-width: 1024px) {
  .twoblocks, .contact_box, .features_box, .experience_box, .buttonedheader, .welcome_box, .faq_box, .help_box {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }
  .twoblocks .bigimage, .contact_box .bigimage, .features_box .bigimage, .experience_box .bigimage, .buttonedheader .bigimage, .welcome_box .bigimage, .faq_box .bigimage, .help_box .bigimage {
    order: -1;
  }
}
@media (max-width: 640px) {
  .twoblocks .bigimage, .contact_box .bigimage, .features_box .bigimage, .experience_box .bigimage, .buttonedheader .bigimage, .welcome_box .bigimage, .faq_box .bigimage, .help_box .bigimage {
    width: 100%;
  }
}

.headline {
  color: #ef6d58;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

h1 {
  font-weight: 800;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 80px;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 64px;
  }
}

h2 {
  font-weight: 800;
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 64px;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
  }
}

h3, .experience_cards li .number {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

h4, .reviews_cards li .client_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

h5, .experience_cards li .signature {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.button, .button-white, .button-orange, .button-transparent {
  font-size: 14px;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
}
.button:hover, .button-white:hover, .button-orange:hover, .button-transparent:hover {
  background-color: white;
  color: #ef6d58;
  box-shadow: none;
}

.button-transparent {
  background-color: inherit;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-orange {
  background-color: #ef6d58;
  color: white;
}

.button-white {
  background-color: white;
  color: #28293e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.jumplink, .blog_main h3 a, .blog_main .experience_cards li .number a, .experience_cards li .blog_main .number a, .service .more a, .bottom_box .docs li a, .footer_menu li a, .header_menu li a, .faq_box a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.jumplink:hover, .blog_main h3 a:hover, .blog_main .experience_cards li .number a:hover, .experience_cards li .blog_main .number a:hover, .service .more a:hover, .bottom_box .docs li a:hover, .footer_menu li a:hover, .header_menu li a:hover, .faq_box a:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

.faq_cards {
  display: flex;
  flex-direction: column;
}
.faq_cards li:not(:first-child) {
  margin-top: -1px;
  margin-left: 0;
}
.faq_cards li {
  flex-direction: column;
  gap: 40px;
  padding: 35px;
  margin-left: 0;
  margin-top: -1px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.faq_cards li.active {
  background-color: white;
}
.faq_cards li .item {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge {
  background-color: #ef6d58;
  padding: 40px;
  border-radius: 50%;
  position: relative;
}
.badge img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  background-color: #ef6d58;
  padding: 50px 100px;
  box-sizing: border-box;
}
@media (max-width: 601px) {
  .banner {
    padding: 40px 20px;
  }
}

.textcontent {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.center {
  align-items: center;
  text-align: center;
}

.header {
  gap: 15%;
  margin-bottom: 100px;
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header .button-contact {
    display: none;
  }
}
.header .button-drop {
  background: url(../images/bars.svg) no-repeat center;
  height: 37px;
}
@media (min-width: 641px) {
  .header .button-drop {
    display: none;
  }
}
.header_logo {
  gap: 10px;
  display: flex;
  align-items: end;
  justify-content: start;
}
.header_logo a {
  text-decoration: none;
}
.header_logo a:hover {
  filter: hue-rotate(45deg) brightness(160%);
}
.header_menu {
  gap: 5%;
  line-height: 32px;
  flex-grow: 1;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .header_menu {
    display: none;
  }
}
.header_menu li a {
  color: white;
}

.expand {
  padding: 16px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
}
.expand img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expand:hover {
  cursor: pointer;
}
.expand:hover img {
  filter: invert(80%);
}

form input,
form select,
form textarea {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  background-color: inherit;
  color: #7f6454;
}

.formcontainer {
  flex-direction: column;
  gap: 25px;
  padding: 5%;
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: start;
}
@media (max-width: 1024px) {
  .formcontainer {
    width: 100%;
    box-sizing: border-box;
  }
}
.formcontainer button {
  align-self: end;
}
.formcontainer form {
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.experience_cards {
  margin-top: 60px;
}
@media (max-width: 640px) {
  .experience_cards {
    display: flex;
    flex-direction: column;
  }
  .experience_cards li:not(:first-child) {
    margin-top: -1px;
    margin-left: 0;
  }
}
@media (min-width: 641px) {
  .experience_cards {
    display: flex;
    flex-direction: row;
  }
  .experience_cards li:not(:first-child) {
    margin-left: -1px;
    margin-top: 0;
  }
  .experience_cards li {
    width: 50%;
    box-sizing: border-box;
  }
}
.experience_cards li {
  gap: 10%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.experience_cards li .badge {
  padding: 56px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
}
.experience_cards li .badge img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media ((min-width: 641px) and (max-width: 1024px)) or (max-width: 500px) {
  .experience_cards li {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }
}

.bulletedlist {
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.bulletedlist li {
  gap: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.bulletedlist .bullet {
  padding: 16px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
}
.bulletedlist .bullet img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.started {
  background-color: #f9e5da;
}
.started_box {
  gap: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .started_box {
    flex-direction: column;
    align-items: start;
    gap: 60px;
  }
}
@media (max-width: 640px) {
  .started_box {
    width: 85%;
  }
}
.started .gift_img {
  position: absolute;
  left: 0;
  top: -173px;
}
.started .gift_img:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: drop-shadow(0 0 20px #ef6d58) hue-rotate(45deg) brightness(160%);
}
@media (max-width: 640px) {
  .started_img {
    width: 100%;
  }
}

.logos {
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos li {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .logos {
    justify-content: space-around;
  }
}

.bordered, .newsletter .wrapper, .newsletter .blog_main, .bottom_box {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 50px;
}

.top .textcontent {
  align-items: center;
  text-align: center;
}

.footer_box {
  padding-bottom: 60px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .footer_box {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
.footer_menu li {
  margin: 1em 0;
}
@media (max-width: 640px) {
  .footer_menu {
    text-align: center;
  }
}
.footer .social {
  gap: 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer .social li {
  padding: 25px;
  background-color: #ef6d58;
  border-radius: 50%;
  position: relative;
}
.footer .social li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer .social li a:hover img {
  filter: invert(80%);
}

.bottom_box {
  gap: 20% 60px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .bottom_box {
    justify-content: center;
    gap: 40px;
  }
}
.bottom_box .copyright {
  text-align: center;
}
.bottom_box .docs {
  width: 30%;
  gap: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1024px) {
  .bottom_box .docs {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .bottom_box .docs {
    justify-content: space-between;
  }
}
.bottom_box .docs li {
  white-space: nowrap;
}
.service_box {
  flex-direction: column;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .service_cards {
    display: flex;
    flex-direction: column;
  }
  .service_cards li:not(:first-child) {
    margin-top: -1px;
    margin-left: 0;
  }
}
@media (min-width: 1025px) {
  .service_cards {
    display: flex;
    flex-direction: row;
  }
  .service_cards li:not(:first-child) {
    margin-left: -1px;
    margin-top: 0;
  }
  .service_cards li {
    width: 50%;
  }
}
.service_cards li {
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}
.service_cards li .line {
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: start;
}
.service_cards li .line .morecircle {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  position: relative;
}
.service_cards li .line .morecircle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service_cards li .line .morecircle:hover {
  cursor: pointer;
  filter: invert(10%);
}
.service .more {
  text-align: center;
}
.service .more a {
  display: inline-block;
}

@media (min-width: 1025px) {
  .buttonedheader {
    align-items: end;
  }
}
.buttonedheader .textcontent {
  transform: translateY(10px);
}

.portfolio_ul {
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .portfolio_ul {
    flex-direction: column;
  }
}
.portfolio_ul li {
  width: 33.3333333333%;
  border-width: 1px;
  border-style: solid;
  margin-left: -1px;
  padding: 16px;
}
.portfolio_ul li:hover {
  cursor: pointer;
  filter: invert(100%);
}
.portfolio_ul li.design {
  background: url("../images/portfolio-1.png") content-box center/cover;
}
.portfolio_ul li.branding {
  background: url("../images/portfolio-2.png") content-box center/cover;
}
.portfolio_ul li.illustration {
  background: url("../images/portfolio-3.png") content-box center/cover;
}
.portfolio_ul li .content {
  padding: 10%;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  height: 576px;
  gap: 24px;
  box-sizing: border-box;
}
.portfolio_ul li .content h3, .portfolio_ul .experience_cards li .content .number, .experience_cards .portfolio_ul li .content .number {
  white-space: nowrap;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .portfolio_ul li .content h3, .portfolio_ul .experience_cards li .content .number, .experience_cards .portfolio_ul li .content .number {
    font-size: 24px;
  }
}
.portfolio_ul li .content .worktype {
  background: white;
  color: #28293e;
  border-radius: 2em;
  padding: 0.8em 1.2em;
}
@media (max-width: 640px) {
  .portfolio_ul li {
    width: 100%;
    box-sizing: border-box;
    margin-left: inherit;
    margin-top: -1px;
  }
}

.experience {
  background-color: #fdf0e9;
}
.reviews_box {
  flex-direction: column;
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews_box h2 {
  text-align: center;
}
@media (max-width: 1024px) {
  .reviews_cards {
    display: flex;
    flex-direction: column;
  }
  .reviews_cards li:not(:first-child) {
    margin-top: -1px;
    margin-left: 0;
  }
}
@media (min-width: 1025px) {
  .reviews_cards {
    display: flex;
    flex-direction: row;
  }
  .reviews_cards li:not(:first-child) {
    margin-left: -1px;
    margin-top: 0;
  }
}
.reviews_cards li {
  flex-direction: column;
  gap: 30px;
  padding: 5%;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  display: flex;
  align-items: start;
  justify-content: start;
}
.reviews_cards li:hover {
  background-color: white;
  cursor: pointer;
}
.reviews_cards li .stars {
  color: #f6d021;
  font-size: 32px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.reviews_cards li .client {
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.reviews_cards li .client_info {
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: center;
}
.reviews_cards li .client_photo {
  overflow: hidden;
  padding: 40px;
  border-radius: 50%;
  position: relative;
}
.reviews_cards li .client_photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviews_cards li .client_photo img {
  width: 80px;
}
@media (min-width: 1024px) {
  .reviews_cards li {
    width: 33.3333333333%;
  }
}

.blog_main {
  justify-content: space-between;
  gap: 2em;
  margin: 60px auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .blog_main {
    flex-direction: column;
    gap: 65px;
  }
  .blog_main h3, .blog_main .experience_cards li .number, .experience_cards li .blog_main .number {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 641px) {
  .blog_main .mainitem {
    width: 65%;
  }
}
@media (min-width: 1441px) {
  .blog_main .mainitem {
    width: 32%;
  }
}
.blog_main .minoritems {
  gap: 65px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
@media (min-width: 641px) and (max-width: 1440px) {
  .blog_main .minoritems {
    width: 25%;
  }
  .blog_main .minoritems h3, .blog_main .minoritems .experience_cards li .number, .experience_cards li .blog_main .minoritems .number {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1441px) {
  .blog_main .minoritems {
    width: 66%;
    gap: 3.0303030303%;
  }
  .blog_main .minoritems .blog_item {
    width: 48.4848484848%;
  }
}
@media (max-width: 1440px) {
  .blog_main .minoritems {
    flex-direction: column;
  }
}
.blog_item {
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.blog_item .illustration {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.blog_item img {
  width: 100%;
  display: block;
}

.newsletter form {
  gap: 20px;
  display: flex;
}
@media (min-width: 1025px) {
  .newsletter form {
    width: 40%;
  }
  .newsletter form input {
    flex-grow: 1;
  }
}
@media (max-width: 640px) {
  .newsletter form {
    flex-direction: column;
    width: 100%;
  }
}
.newsletter form input {
  background-color: white;
}
.contacts {
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.contacts li {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.contacts li .contacttype {
  background-color: #ef6d58;
  padding: 24px;
  border-radius: 50%;
  position: relative;
}
.contacts li .contacttype img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works img {
  display: block;
  width: 16.6666666667%;
  height: 16.6666666667%;
}
.works img:hover {
  cursor: pointer;
  filter: invert(100%);
}
@media (max-width: 1024px) and (min-width: 501px) {
  .works {
    flex-wrap: wrap;
  }
  .works img {
    width: 33.3333333333%;
    height: 33.3333333333%;
  }
}
@media (max-width: 640px) {
  .works {
    flex-wrap: wrap;
  }
  .works img {
    width: 50%;
    height: 50%;
  }
}

/*# sourceMappingURL=mainPage.css.map */
