// @import url(./shared/header.css);

$darkColor: #28293e;
$darkStrongText: #391400;
$lightsectionText: #7f6454;
$darksectionText: #b1b2b9;
$lightsectionBorder: #f3d1bf;
$darksectionBorder: #3a3c56;
$orangeColor: #ef6d58;
$lightColor: #fdf0e9;

* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.bigimage {
  width: 50%;
}

p {
  line-height: 32px;
}

a {
  color: inherit;
  font-size: inherit;
}

b {
  font-weight: normal;
}

li {
  list-style-type: none;
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

.darksection {
  background-color: $darkColor;
  color: $darksectionText;
  h1,
  h2,
  h3,
  h4,
  h5,
  b {
    color: white;
  }
  * {
    border-color: $darksectionBorder;
  }
}

.lightsection {
  background-color: $lightColor;
  color: $lightsectionText;
  h1,
  h2,
  h3,
  h4,
  h5,
  b {
    color: $darkStrongText;
  }
  * {
    border-color: $lightsectionBorder;
  }
}
section {
  padding: 100px 10%;
}

.wrapper {
  // padding: 60px 0;
  max-width: 1440px;
  margin: 0 auto;
}

@mixin twoblocks {
  @include flex(center, space-between);
  gap: 10%;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: start;
    gap: 50px;
    .bigimage {
      order: -1;
    }
  }
  @media (max-width: 640px) {
    .bigimage {
      width: 100%;
    }
  }
}

.headline {
  color: $orangeColor;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

h1 {
  font-weight: 800;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 80px;
  @media (max-width: 1024px) {
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 64px;
  }
}

h2 {
  font-weight: 800;
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 64px;
  @media (max-width: 1024px) {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
  }
}

h3 {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

@mixin h4style {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
h4 {
  @include h4style();
}

h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.dark {
  color: $darkStrongText;
  width: 470px;
  text-align: center;
  @media (max-width: 640px) {
    width: 90%;
  }
}

.button {
  font-size: 14px;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
  &:hover {
    background-color: white;
    color: $orangeColor;
    box-shadow: none;
  }
}

.button-transparent {
  @extend .button;
  background-color: inherit;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-orange {
  @extend .button;
  background-color: $orangeColor;
  color: white;
}

.button-white {
  @extend .button;
  background-color: white;
  color: $darkColor;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.jumplink {
  display: block;
  text-decoration: none;
  color: inherit;
  &:hover {
    transform: translateY(-2px);
    text-decoration: underline;
  }
}

@mixin round {
  border-radius: 50%;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin cards-horisontal {
  display: flex;
  flex-direction: row;
  li {
    &:not(:first-child) {
      margin-left: -1px;
      margin-top: 0;
    }
  }
}
@mixin cards-vertical {
  display: flex;
  flex-direction: column;
  li {
    &:not(:first-child) {
      margin-top: -1px;
      margin-left: 0;
    }
  }
}

@mixin card {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
}

.textcontent {
  @include flex(start, center);
  flex-direction: column;
  gap: 25px;
}

.center {
  align-items: center;
  text-align: center;
}

.header {
  gap: 15%;
  margin-bottom: 100px;
  @include flex(last baseline, space-between);
  .button-contact {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .button-drop {
    background: url(../images/bars.svg) no-repeat center;
    height: 37px;
    @media (min-width: 641px) {
      display: none;
    }
  }
  &_box {
    // gap: 15%;
    // @include flex(last baseline, space-between);
    // .button-contact {
    //   @media (max-width: 1024px) {
    //     display: none;
    //   }
    // }
    // .button-drop {
    //   background: url(../images/bars.svg) no-repeat center;
    //   height: 37px;
    //   @media (min-width: 641px) {
    //     display: none;
    //   }
    // }
  }
  &_logo {
    gap: 10px;
    @include flex(end, start);
  }
  &_menu {
    gap: 5%;
    line-height: 32px;
    flex-grow: 1;
    @include flex(end, space-between);

    @media (max-width: 640px) {
      display: none;
    }
    li {
      a {
        @extend .jumplink;
        color: white;
      }
    }
  }
}

.about {
  &_box {
    @include twoblocks();
  }
}

.service {
  &_box {
    flex-direction: column;
    gap: 50px;
    @include flex(center, center);
  }
  &_cards {
    @media (max-width: 1024px) {
      @include cards-vertical;
    }
    @media (min-width: 1025px) {
      @include cards-horisontal;
      li {
        width: 50%;
      }
    }
    li {
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
      gap: 20px;
      @include card;
      .line {
        gap: 20px;
        flex-wrap: wrap;
        @include flex(center, start);
        .badge {
          background-color: $orangeColor;
          padding: 40px;
          @include round;
        }
        .morecircle {
          background-color: white;
          padding: 20px;
          @include round;
          &:hover {
            cursor: pointer;
            filter: invert(10%);
          }
        }
      }
    }
  }
  .more {
    text-align: center;
    a {
      display: inline-block;
      @extend .jumplink;
    }
  }
}

.buttonedheader {
  // margin-bottom: 60px;
  @media (min-width: 1025px) {
    align-items: end;
  }
  @include twoblocks();
  .textcontent {
    transform: translateY(
      10px
    ); // both the h2 and p in .textcontent will be more or less aligned with the bottom of the button
  }
}

.portfolio {
  &_ul {
    padding-bottom: 60px;
    @include flex(center, space-between);
    @media (max-width: 640px) {
      flex-direction: column;
    }
    li {
      width: calc(100% / 3);
      border-width: 1px;
      border-style: solid;
      margin-left: -1px;
      padding: 16px;
      &:hover {
        cursor: pointer;
        filter: invert(100%);
      }
      &.design {
        background: url("../images/portfolio-1.png") content-box center / cover;
      }
      &.branding {
        background: url("../images/portfolio-2.png") content-box center / cover;
      }
      &.illustration {
        background: url("../images/portfolio-3.png") content-box center / cover;
      }
      .content {
        padding: 10%;
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        height: 576px;
        gap: 24px;
        box-sizing: border-box;
        h3 {
          white-space: nowrap;
          @media (min-width: 641px) and (max-width: 1024px) {
            font-size: 24px;
          }
        }
        .worktype {
          background: white;
          color: $darkColor;
          border-radius: 2em;
          padding: 0.8em 1.2em;
        }
      }
      @media (max-width: 640px) {
        width: 100%;
        box-sizing: border-box;
        margin-left: inherit;
        margin-top: -1px;
      }
    }
  }
}

.experience {
  background-color: $lightColor;
  &_box {
    @include twoblocks();
  }
  &_cards {
    margin-top: 60px;
    @media (max-width: 640px) {
      @include cards-vertical;
    }
    @media (min-width: 641px) {
      @include cards-horisontal;
      li {
        width: 50%;
        box-sizing: border-box;
      }
    }
    li {
      gap: 10%;
      padding: 40px;
      @include flex(center, start);
      @include card;
      .badge {
        padding: 56px;
        background-color: $orangeColor;
        @include round;
      }
      .number {
        @extend h3;
      }
      .signature {
        @extend h5;
      }
      @media ((min-width: 641px) and (max-width: 1024px)) or (max-width: 500px) {
        flex-direction: column;
        text-align: center;
      }
    }
  }
}

.features {
  // padding-bottom: 50px;
  &_box {
    @include twoblocks();
  }
  &_ul {
    flex-direction: column;
    gap: 20px;
    @include flex(start, space-between);
    li {
      gap: 14px;
      @include flex(center, start);
    }
    .bullet {
      padding: 16px;
      background-color: $orangeColor;
      @include round;
    }
  }
}

.started {
  background-color: #f9e5da;
  &_box {
    gap: 10%;
    // padding: 60px 0;
    position: relative;
    @include flex(center, center);
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: start;
      gap: 60px;
    }
    @media (max-width: 640px) {
      width: 85%;
    }
  }
  .gift_img {
    position: absolute;
    left: 0;
    top: -173px; // margin-top (100px) plus half of image size (146px/2=73px)

    &:hover {
      cursor: pointer;
      // transform: translate(0%, -50%) scale(1.2);
      transform: scale(1.2);
      filter: drop-shadow(0 0 20px $orangeColor) hue-rotate(45deg)
        brightness(160%);
    }
    // @media (max-width: 1024px) {
    //   left: 25px;
    // }
  }
  &_img {
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

.reviews {
  &_box {
    flex-direction: column;
    gap: 60px;
    @include flex(center, center);
    h2 {
      text-align: center;
    }
  }
  &_cards {
    @media (max-width: 1024px) {
      @include cards-vertical;
    }
    @media (min-width: 1025px) {
      @include cards-horisontal;
    }
    li {
      flex-direction: column;
      gap: 30px;
      padding: 5%;
      @include card;
      @include flex(start, start);

      &:hover {
        background-color: white;
        cursor: pointer;
      }
      .stars {
        color: #f6d021;
        font-size: 32px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 50%);
      }
      .client {
        flex-wrap: wrap;
        gap: 30px;
        @include flex(center, start);

        &_info {
          flex-direction: column;
          @include flex(start, center);
        }
        &_name {
          @extend h4;
        }
        &_photo {
          overflow: hidden;
          padding: 40px;
          @include round;

          img {
            width: 80px;
          }
        }
      }
      @media (min-width: 1024px) {
        width: calc(100% / 3);
      }
    }
  }
}

.faq {
  &_box {
    @include twoblocks;
    a {
      @extend .jumplink;
    }
  }
  &_cards {
    @include cards-vertical;
    li {
      flex-direction: column;
      gap: 40px;
      padding: 35px;
      margin-left: 0;
      margin-top: -1px;
      @include card;
      &.active {
        @extend .lightsection;
      }
      .item {
        gap: 20px;
        @include flex(center, space-between);
      }
      .expand {
        padding: 16px;
        background-color: $orangeColor;
        @include round;
        &:hover {
          cursor: pointer;
          img {
            filter: invert(80%);
          }
        }
      }
    }
  }
}

.logos {
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 2.5em;
  @include flex(center, space-between);
  li {
    cursor: pointer;
    &:hover {
      filter: brightness(125%);
    }
  }
  @media (max-width: 1024px) {
    justify-content: space-around;
  }
}

.blog {
  &_main {
    justify-content: space-between;
    gap: 2em;
    margin: 60px auto;
    @extend .wrapper;
    @include flex(stretch, space-between);
    @media (max-width: 640px) {
      // on mobiles: MAIN ITEM IS FULL-SCREEN
      flex-direction: column;
      gap: 65px;
      h3 {
        @include h4style;
      }
    }
    .mainitem {
      @media (min-width: 641px) {
        // on tablets: ONE BIG MAIN ITEM and small minor ones
        width: 65%;
      }
      @media (min-width: 1441px) {
        // on desctops: MAIN ITEM IS ONE THIRD (equal to the minor ones)
        width: 32%;
      }
    }
    .minoritems {
      gap: 65px;
      @include flex(stretch, space-between);
      @media (min-width: 641px) and (max-width: 1440px) {
        // on tablets: one big main item AND SMALL MINOR ONES
        width: 25%;
        h3 {
          @include h4style;
        }
      }
      @media (min-width: 1441px) {
        // on desctops: MINOR ITEMS BLOCK IS TWO THIRDS (all items are equal)
        width: 66%;
        gap: calc(100% / 33);
        .blog_item {
          width: calc(1600% / 33);
        }
      }
      @media (max-width: 1440px) {
        // on mobiles: EACH MINOR ITEM IS FULL-SCREEN
        flex-direction: column;
      }
    }
    h3 a {
      @extend .jumplink;
    }
  }
  &_item {
    flex-direction: column;
    gap: 20px;
    @include flex(start, start);
    .illustration {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

form {
  input,
  select,
  textarea {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: inherit;
    color: $lightsectionText;
  }
}

.bordered {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 50px;
}

.newsletter {
  form {
    gap: 20px;
    display: flex; // we need an unset align-items and justify-content
    @media (min-width: 1025px) {
      width: 40%;
      input {
        flex-grow: 1;
      }
    }
    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
    input {
      background-color: white;
    }
  }
  .wrapper {
    @extend .bordered;
  }
}

.contact {
  &_box {
    @include twoblocks();
  }
  .formcontainer {
    flex-direction: column;
    gap: 25px;
    padding: 5%;
    width: 50%;
    border-radius: 10px;
    @extend .lightsection;
    @include flex(stretch, start);
    @media (max-width: 1024px) {
      width: 100%;
      box-sizing: border-box;
    }
  }
  button {
    align-self: end;
  }
  form {
    flex-direction: column;
    gap: 20px;
    @include flex(stretch, center);
  }
}

.contacts {
  flex-direction: column;
  @include flex(start, center);
  gap: 20px;
  li {
    gap: 16px;
    @extend b;
    @include flex(center, start);
    .contacttype {
      background-color: $orangeColor;
      padding: 24px;
      @include round;
    }
  }
}

.help {
  &_box {
    @include twoblocks;
  }
}
.works {
  @include flex(center, space-between);
  img {
    display: block;
    width: calc(100% / 6);
    height: calc(100% / 6);
    &:hover {
      cursor: pointer;
      filter: invert(100%);
    }
  }
  @media (max-width: 1024px) and (min-width: 501px) {
    flex-wrap: wrap;
    img {
      width: calc(100% / 3);
      height: calc(100% / 3);
    }
  }
  @media (max-width: 640px) {
    flex-wrap: wrap;
    img {
      width: 50%;
      height: 50%;
    }
  }
}

.footer {
  &_box {
    margin-bottom: 60px;
    @include flex(start, space-between);
    @media (max-width: 640px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }
  &_menu {
    li {
      margin: 1em 0;
      a {
        @extend .jumplink;
      }
    }
    @media (max-width: 640px) {
      text-align: center;
    }
  }
  .social {
    gap: 10px;
    @include flex(start, space-between);

    li {
      padding: 25px;
      background-color: $orangeColor;
      @include round;

      a:hover {
        img {
          filter: invert(80%);
        }
      }
    }
  }
}

.bottom {
  &_box {
    gap: 20% 60px;
    flex-wrap: wrap;
    @extend .bordered;
    @include flex(center, space-between);
    @media (max-width: 1024px) {
      justify-content: center;
      gap: 40px;
    }
    .docs {
      width: 30%;
      gap: 20%;
      @include flex(center, end);

      @media (max-width: 1024px) {
        justify-content: center;
        width: 100%;
      }
      @media (max-width: 640px) {
        justify-content: space-between;
      }
      p {
        text-align: center;
      }
      li {
        white-space: nowrap;
        a {
          @extend .jumplink;
        }
      }
    }
  }
}
